body {
  margin: 2em;
  background-color: peachpuff;
}

#container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  height:min-content;
  
}

#container > div {
  display: flexbox;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  position:relative;
  float:left;
  border-radius:10px;
  width: 200px;
  margin: 1em;
  padding: .5em;
  justify-content: space-around;
  overflow: hidden;
  background: rgb(121, 89, 60);
}

.box {
  
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
}

#h1 {
  margin: 1em;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 20px;
  background: #FFFFFF;
  mix-blend-mode:exclusion;
}

#new, #delete, #random {
    display: block;
    position:relative;
    float:left;
    margin: 0.5em 0;
    margin-inline: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: .8em 2.2em;
    cursor: pointer;
  
    background: #7c6e54;
    border: none;
    border-radius: .4em;
  
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    
  
    mix-blend-mode:hard-light;
    perspective: 500px;
}

ul {
  text-align:left;
  line-height:20px;
}

li {
  color: white;
  padding: 3px;
}

.dom {
  text-transform:uppercase;
}
